---
layout: archive
title: "Notes"
permalink: /notes/
author_profile: true
---

{% include base_path %}

{% assign grouped_notes = site.notes | group_by: "category" %}

{% for group in grouped_notes %}
  {% if group.name %}
    <h2 id="{{ group.name | slugify }}" class="archive__subtitle">{{ group.name | capitalize }}</h2>

    {% assign sorted_notes = group.items | sort: "date" | reverse %}
    {% for note in sorted_notes %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}
